<!-- home.html -->
{{define "content"}}
    <div class="row mt-4 g-4">
        <!-- Left Column for Blockheight and Stamp Form -->
        <div class="col-8 content">
            <h1 class="mb-4">Target Blockheight</h1>
            <p class="fs-5 me-5" id="blockheight">
                {{ .Blockheight }}
            </p>

            <!-- Separate container for the stamp form -->
            <div id="stamp-container" style="display: none;">
                <!-- <h2 class="mt-4">Stamp Form</h2> -->
                <form hx-post="/submit-stamp/" hx-target="#stamp-container">
                    <input type="hidden" name="blockheight" id="blockheight-input" />
                    <div class="mb-2">
                        <label for="stamp-input">Enter your stamp in time:</label>
                        <input type="text" id="stamp-input" name="stamp" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <!-- Right Column for Date Entry Form -->
        <div class="col-4 content">
            <h1 class="mb-4">Enter Date</h1>

            <form hx-post="/get-blockheight/" hx-target="#blockheight" hx-indicator="#spinner">
                <div class="mb-2">
                    <label for="date-year">Year</label>
                    <input type="number" name="year" id="date-year" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="date-month">Month</label>
                    <input type="number" name="month" id="date-month" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="date-day">Day</label>
                    <input type="number" name="day" id="date-day" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="date-hour">Hour</label>
                    <input type="number" name="hour" id="date-hour" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="date-minute">Minute</label>
                    <input type="number" name="minute" id="date-minute" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="date-second">Second</label>
                    <input type="number" name="second" id="date-second" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
                    Submit
                </button>
            </form>
        </div>
    </div>
{{end}}
