<!-- stamps.html -->
{{define "content"}}
    <h1>Stamps</h1>
    <table>
        <tr>
            <th>Blockheight</th>
            <th>Stamp</th>
            <th>TxID</th>
        </tr>
        {{range .Stamps}}
            <tr>
                <td>{{.Blockheight}}</td>
                <td>{{.Stamp}}</td>
                <td style="color: {{.TxIDColor}}">
                    {{if .TxID.Valid}}{{.TxID.String}}{{else}}NULL{{end}}
                </td>
            </tr>
        {{end}}
    </table>
{{end}}
